<html>
  <head>
    <title>Submit a form</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Add files to training set and/or launch new training</h1>
      </div>
      <div id="main">
        <form method="post" enctype=multipart/form-data action="{{ url_for('submittedtrain_form') }}">
          <label for="name">Name:</label>
          <input type="text" name="name"><br />
          <label for="email">Email address:</label>
          <input type="email" name="email"><br />
          <label for="comments">Comments:</label>
          <textarea name="comments"></textarea><br />
          <label for="file">Upload file:</label>
          <input type = "file" name = "file" /><br /><br />
          <label>Instructions: Please upload .png images. In 'Comments' enter one of two options, option 1) 'Add file': No training but user will be registered and signature sample uploaded, option 2) 'Train': will launch training to update ML model. System will decide what to do based on comments</label><br /><br />

          <input type="Submit">
          
        </form>
      </div>
    </div>
  </body>
</html>
